@font-face {
  font-family: 'Vazirmatn';
  src: url('/post_daftar/assets/fonts/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Vazirmatn';
  src: url('/post_daftar/assets/fonts/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
/* بقیه وزن‌ها اگر داری اضافه کن */